[submodule "third_party/depthany2"]
	path = third_party/depthany2
	url = https://github.com/DepthAnything/Depth-Anything-V2.git
[submodule "third_party/gsam"]
	path = third_party/gsam
	url = https://github.com/IDEA-Research/Grounded-Segment-Anything.git
[submodule "third_party/pips"]
	path = third_party/pips
	url = https://github.com/ut-amrl/pips.git
[submodule "third_party/jackal_calib"]
	path = third_party/jackal_calib
	url = https://github.com/sadanand1120/jackal_calib.git
[submodule "third_party/urdf_models"]
	path = third_party/urdf_models
	https://github.com/sadanand1120/URDF_models.git
	branch = synapse
